<!DOCTYPE html>
<html>
  <head>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
  	
  	<!-- Grey with black text -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <ul class="navbar-nav">
	    <li class="nav-item active">
	      <a class="nav-link" href="#">Canciones</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/canciones/crear">Insertar</a>
	    </li>
	  </ul>
	</nav>

	<br>

	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8">
			<table class="table table-dark">
				  <thead>
				    <tr>
				      <th scope="col">Titulo</th>
				      <th scope="col">Autor</th>
				      <th scope="col">Año</th>
				    </tr>
				  </thead>
				  <tbody>
					<% canciones_llista.forEach( function(canciones) { %>
				    	<tr>
				    		<td> <%= canciones.titulo %> </td>
				    		<td> <%= canciones.autor %> </td>
				    		<td> <%= canciones.año %> </td>
				    		<td><a href="/canciones/editar/<%=canciones._id%>">Editar</a></td>	
				    		<td><a href="/canciones/eliminar/<%=canciones._id%>">Eliminar</a></td>	
				     	</tr>
					<% });	%>
				  </tbody>
			</table>

		</div>
	</div>
  <!-- <a href="/pelis/crear">Afegir pelicula </a> -->
    

  </body>
</html>